@page "/"
@using System.Net.Http
@inject NavigationManager Nav

<div class="greeting">
    <div class="logo">
        <div class="circle">
            <img src="https://ih1.redbubble.net/image.4696681445.6267/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg" alt="Logo">
        </div>
    </div>
    <h1 class="page-title">Welcome to Malevolent Shrine</h1>
</div>

<div class="status-row">
    <div class="status-card-wrapper">
        <div class="status-card card">
            <StatusCard Title="API Status"
                        IconClass="bi bi-heart-pulse text-success"
                        BorderClass="border-success"
                        HealthCheck="@healthCheck" />
        </div>
    </div>
    <div class="status-card-wrapper">
        <div class="status-card card">
            <StatusCard Title="Database Status"
                        IconClass="bi bi-database text-warning"
                        BorderClass="border-warning"
                        HealthCheck="@dbHealthCheck" />
        </div>
    </div>
</div>

<div class="actions">
    <a class="btn btn-red" href="/calendar/rooms">Календарь бронирований</a>
</div>

<h2 class="section-title">Hotels</h2>
<div class="hotels">
    @foreach (var h in hotels)
    {
        <div class="hotel-card">
            <div class="hotel-accent"></div>
            <p class="hotel-name">@h.Name</p>
            @*<img class="hotel-image" src="@h.Image" alt="Hotel Image" />*@
            <p class="hotel-address"><strong>Address: </strong>@h.Address</p>
            <p class="hotel-rooms">Rooms: @h.Rooms.Count()</p>
            <button @onclick="() => GoToRoom(h.Id)">See all rooms</button>

        </div>
    }
</div>

@code {
    HealthCheckResponse? healthCheck;
    HealthCheckResponse? dbHealthCheck;
    List<HotelReadDto> hotels = new List<HotelReadDto>();

    private void GoToRoom(int id)
    {
        Nav.NavigateTo($"/rooms?id={id}");
    }

    protected override async Task OnInitializedAsync()
    {
        healthCheck = await ApiService.GetHealthCheckAsync();
        dbHealthCheck = await ApiService.GetDBHealthCheckAsync();
        hotels = await ApiService.GetAllHotels();
    }
}
