@page "/profile"
@using System.Net.Http
@inject IJSRuntime JS
@inject APIService APIService

<div class="profile-container">
    @if (errorMessage != null)
    {
        <div class="error-message">@errorMessage</div>
    }
    else if (user != null && user.Id != 0)
    {
        <h4>User Profile</h4>
        <div class="profile-header">
            <img class="pfp" src="@user.ProfilePicture" alt="Profile picture" />
        </div>
        <dl>
            <dt>First name:</dt>
            <dd>@user.FirstName</dd>

            <dt>Last name:</dt>
            <dd>@user.LastName</dd>

            <dt>Date of birth:</dt>
            <dd>@user.DateOfBirth</dd>

            <dt>VIP:</dt>
            <dd>
                @if (user.isVIP)
                {
                    <span class="vip-badge vip-yes">Yes</span>
                }
                else
                {
                    <span class="vip-badge vip-no">No</span>
                }
            </dd>
             <dt>Address:</dt>
            <dd>@(address ?? String.Empty)</dd>
            <dt>Email:</dt>
            <dd>@user.Email</dd>
        </dl>
    }
    else
    {
        <div class="spinner-container">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
</div>


@code {
    private string? userId;
    private string? errorMessage;
    private UserReadDto? user = new UserReadDto();
    string address = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var token = await JS.InvokeAsync<string>("localStorage.getItem", "access_token");
            user = await APIService.GetCurrentUserAsync(token);
            userId = user.Id.ToString();
            address = $"{user.Address}, {user.City}";
        }
        catch (UnauthorizedAccessException)
        {
            errorMessage = "Please login or register.";
        }
        catch (Exception)
        {
            errorMessage = "Error occurred while trying to load profile";
        }

    }
}
